{% extends 'base.html.twig' %}
{% block body %}
<h2>my blog</h2>
<p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les</p>
<hr>
	<img src="http://placehold.it/300x300">
{% endblock %}